{
  "extends": [
    "eslint:recommended",
    "prettier/@typescript-eslint",
    "plugin:jest/recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
    "jest/globals": true
  },
  "rules": {
    "indent": "off",
    "@typescript-eslint/indent": ["warn", 2],
    "@typescript-eslint/no-namespace": "off",
    "space-before-function-paren": "off",
    "prettier/prettier": "error",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  }
}
